a{
  text-decoration: none;
      color: rgb(241, 238, 238);
}
a:hover{
  text-decoration: none;
      color: rgb(252, 245, 245);
}
.custom-cm {
background-color: #ffffff;
border: 1px solid #cccccc;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
display: none;
padding: 10px 0;
position: absolute;
top: 0;
left: 0;
width: 200px;
}

.custom-cm__item {
cursor: pointer;
padding: 8px 15px;
}

.custom-cm__item:hover {
background-color: #ffffff;
}

.custom-cm__divider {
border-bottom: 1px solid #eeeeee;
margin: 10px 0;
}



.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f7f7f7;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
} 

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: rgb(208 208 208);}

.show {display: block;}


