  /* css nav bar color  */
.navbar.bg-dark_blue {
    color: #fff;
    background-color: #100575 !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgba(255, 255, 255, 0.46);
  }


  /* css side bar color  */
  .sidebar[data-color="yellow"] li.active>a {
    background-color: #fcd200;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(162, 176, 39, 0.4);
  }