  /* css nav bar color  */
  .navbar.bg-dark_blue {
    color: #fff;
    background-color: #100575 !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgba(255, 255, 255, 0.46);
  }


  /* css side bar color  */
  .sidebar[data-color="yellow"] li.active>a {
    background-color: #ffd000;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(162, 176, 39, 0.4);
  }

/* Button */
.btn.btn-yellow {
  color: rgb(0, 0, 0);
  background-color: #fcd200;
  border-color: #fcd200;
  box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}

.btn.btn-orange {
  color: rgb(0, 0, 0);
  background-color: #fcac00;
  border-color: #fcac00;
  box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}

/* colum */
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1_5 {
  flex: 0 0 12.4999995%;
  max-width:12.4999995%;
}

.col-2_5 {
  flex: 0 0 20.8333335%;
  max-width: 20.8333335%;
}

.col-3_5 {
  flex: 0 0 29.1666665%;
  max-width: 29.1666665%;
}

.col-4_5 {
  flex: 0 0 37.4999995%;
  max-width: 37.4999995%;
}

.col-5_5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6_5 {
  flex: 0 0 54.1666665%;
  max-width: 54.1666665%;
}

.col-7_5 {
  flex: 0 0 62.4999995%;
  max-width: 62.4999995%;
}

.col-8_5 {
  flex: 0 0 70.8333335%;
  max-width: 70.8333335%;
}

.col-9_5 {
  flex: 0 0 79.1666665%;
  max-width: 79.1666665%;
}

.col-10_5 {
  flex: 0 0 87.4999995%;
  max-width: 87.4999995%;
}

.col-11_5 {
  flex: 0 0 95.8333335%;
  max-width: 95.8333335%;
}


.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 27px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C0C0C0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #33f321;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}